<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Show this student", schoold_student_path(@school, @student) %> |
  <%= link_to "Back to students", school_students_path(@school) %>
</div>
