<div id="<%= dom_id exam_evaluation %>">
  <p>
    <strong>Course:</strong>
    <%= exam_evaluation.course_id %>
  </p>

  <p>
    <strong>Marks:</strong>
    <%= exam_evaluation.marks %>
  </p>

  <p>
    <strong>Progress card:</strong>
    <%= exam_evaluation.progress_card_id %>
  </p>

</div>
