<h1>Editing exam evaluation</h1>

<%= render "form", exam_evaluation: @exam_evaluation %>

<br>

<div>
  <%= link_to "Show this exam evaluation", @exam_evaluation %> |
  <%= link_to "Back to exam evaluations", exam_evaluations_path %>
</div>
