<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Student:</strong>
    <%= enrollment.student_id %>
  </p>

  <p>
    <strong>Batch:</strong>
    <%= enrollment.batch_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= enrollment.status %>
  </p>

</div>
