<div id="<%= dom_id batch %>">
  <p>
    <strong>Name:</strong>
    <%= batch.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= batch.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= batch.end_date %>
  </p>

</div>
